<a href="https://colab.research.google.com/github/Sanjeevuvs/python-lab/blob/main/20181COM0167_LAB2_dict_fun_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lab 2 covers exercises on dictionaries, functions and data frames. 
 
Excercise 1 : Given an integer n, generate a dictionary (i, i*i), where i is an integer between 1 and n(included)
n = 5
d ={1:1, 2:4, 3:9, 4:16, 5:25}

In [ ]:
 
item={}
n=int(input("enter the value of n"))
for i in range(n):
  item[i+1]=(i+1)**2
 
print(item)

enter the value of n5
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

Exercise 2 : Read an integer N. With all integers from 1 to N, using list comprehension, create a list of tuples which has the integer and its cube, iff the integer is divisible by 5 and 7. Convert this list into a dictionary.

In [ ]:
 
n=int(input("enter the n Value"))
p=[(x,x**3) for x in range(1,n+1) if(x%5==0)&(x%7==0)]
print(p)
print(dict(p))

enter the n Value55
[(35, 42875)]
{35: 42875}

Exercise 3: Read an integer N. Create a dictionary where the keys are the numbers from 1 to N. Values are tuples having the square of the integer and its factorial. Sample Input : N = 4. Output : {1:(1,1), 2:(4,2),3:(9,6),  4:(16, 24)}

In [ ]:
 
n=int(input("enter the number"))
d={}
for i in range(1,n+1):
  fact=1
  for j in range(1,i+1):
    fact=fact*j
  d[i]=(i*i,fact)
print(d)

enter the number4
{1: (1, 1), 2: (4, 2), 3: (9, 6), 4: (16, 24)}

Exercise 4: Create a list as shown in sample input, where the list can contain single elements, lists, tuples or dictionaries with numeric keys. Find the sum of all elements in the list collectively. Sample Input : [1, 2, [66,44,55], (2,0,8,9), {11:'eleven'}] Output : Sum of the list is 198

In [ ]:
 
inp=eval(input("enter a list []"))
s=0
for i in inp:
  if type(i)==list or type(i)==tuple:
    s=s+sum(i)
  elif type(i) == dict:
    s=s+ sum(i.keys())
  else:
    s=s+i
print("the final sum is",s)

enter a list [][1, 2, [66,44,55], (2,0,8,9), {11:'eleven'}]
the final sum is 198

Exercise 5: Create a dictionary having each day and its temperature in a week. Program should then create a list of days when the temperature is between 32 to 35.
Sample Input : {'sun':25, 'mon':34, 'tue':33, 'wed':29, 'thu':28, 'fri':35, 'sat':40}**
Output : ['mon', 'tue', 'fri']

In [ ]:
temp=eval(input("give the temperature as dictionary "))
out=[]
print(temp)
for i in temp:
    if temp[i]>=32 and temp[i]<=35:
         out.append(i)
print(out)

give the temperature as dictionary {'sun':25, 'mon':34, 'tue':33, 'wed':29, 'thu':28, 'fri':35, 'sat':40}
{'sun': 25, 'mon': 34, 'tue': 33, 'wed': 29, 'thu': 28, 'fri': 35, 'sat': 40}
['mon', 'tue', 'fri']

Exercise 6: Given cities = ['Delhi', 'Mumbai', 'Chennai', 'Bangalore'] and pollution_level = [56, 45, 40, 44], create a dictionary using cities as keys and pollution_level as values and dictionary comprehension.
Output : {'Delhi':56, 'Mumbai':45, 'Chennai':40, 'Bangalore':44}

In [ ]:
city=eval(input("enter the city names as list"))
plevel=eval(input("enter the pollution level"))
out={}
if len(city)==len(plevel):
     for i in range(len(city)):
         out[city[i]] = plevel[i]
else:
 print("error in the list items")
 
print(out)

enter the city names as list ['Delhi', 'Mumbai', 'Chennai', 'Bangalore']
enter the pollution level[56, 45, 40, 44]
{'Delhi': 56, 'Mumbai': 45, 'Chennai': 40, 'Bangalore': 44}

In [ ]:
city=eval(input("enter the city names as list"))
plevel=eval(input("enter the pollution level"))
d={  i:j  for(i,j) in zip(city,plevel)}
print(d)

enter the city names as list['Delhi', 'Mumbai', 'Chennai', 'Bangalore']
enter the pollution level[56, 45, 44]
{'Delhi': 56, 'Mumbai': 45, 'Chennai': 44}

Exercise 7:Professor Smith is the faculty advisor of 3 students. Initially he received only the ID Nos of his advisees from Dean's office as IDNO = [20181ISE349, 20181ISE550, 20181ISE560, 20181ISE289]. After his first meeting with his advisees he collected their CGPA = [8.9, 3.0, 5.5, 7.8] respectively. 
a) Help the professor to consolidate these two lists into a dictioanry
   Output : {'20181ISE349':8.9, '20181ISE550':3.0, '20181ISE560':5.5, '20181ISE289':7.8
b) Help the professor to identify the slow learners, students with CGPA of 4 and below
   Output: ['20181ISE550']
c) In his next meeting, he decides to meet his advisees based on their CGPA, prioritizing slow learners first. Preapre a visiting list for him
   Output : ['20181ISE550', '20181ISE560', '20181ISE289', '20181ISE349']

In [ ]:
 
idno=['20181ISE349','20181ISE550','20181ISE560','20181ISE289']
CGPA=[8.9,3.0,5.5,7.8]
d={  i:j  for(i,j) in zip(idno,CGPA)}
print(d)
out1=[]
for i in d:
  if d[i]<=4:
    out1.append(i)
print('the slow learners are',out1)

{'20181ISE349': 8.9, '20181ISE550': 3.0, '20181ISE560': 5.5, '20181ISE289': 7.8}
the slow learners are ['20181ISE550']

In [ ]:
 
import operator
idno=['20181ISE349','20181ISE550','20181ISE560','20181ISE289']
CGPA=[8.9,3.0,5.5,7.8]
d={  i:j  for(i,j) in zip(idno,CGPA)}
print(d)
out1=[]
for i in d:
  if d[i]<=4:
    out1.append(i)
d1=sorted(d.items(), key=operator.itemgetter(1))
print(dict(d1).keys())
print('the slow learners are',out1)

{'20181ISE349': 8.9, '20181ISE550': 3.0, '20181ISE560': 5.5, '20181ISE289': 7.8}
dict_keys(['20181ISE550', '20181ISE560', '20181ISE289', '20181ISE349'])
the slow learners are ['20181ISE550']

Exercise 8: USing a function to find factorial, compute the binomial coefficient nCr =  n!/(r! )(n-r)!, for a given value of n and r.

In [ ]:
 
def my_fact(x):
  f=1
  for i in range(1,x+1):
    f=f*i
  return(f)
n=int(input("enter a number n"))
r=int(input("enter r"))
ncr=my_fact(n)/(my_fact(r) * my_fact(n-r))
print(ncr)

enter a number n6
enter r3
20.0

Exercise 9: Create a list of list with the daily average temperatures of a week as [['sun',33.3], ['mon',32.1], ['tue',34.5], ['wed',28.7], ['thu',29.9], ['fri',28.6], ['sat',25.5]]. Using a function find the warmest and the coldest day of the week and the corresponding temperature. Ouput : Warmest is ['tue':34.5] Coldest is ['sat':25.5]

In [ ]:
 
def maxmin(t):
  out=sorted(t,key=operator.itemgetter(1))
  return(out)
 
import operator
temps = [['sun',33.3], ['mon',32.1], ['tue',34.5], ['wed',28.7], ['thu',29.9], ['fri',28.6], ['sat',25.5]]
out1=maxmin(temps)
print("coldest day and its temp is",out1[0])
print("hottest day and its temp is",out1[-1])

coldest day and its temp is ['sat', 25.5]
hottest day and its temp is ['tue', 34.5]